# don't lint builder
# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
main.js
e2e
*.conf.js
test.ts
